{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	{% if app.user %}
		<h1>Connecté en tant que
			{{ app.user.username }}</h1>
	{% else %}
		{% include "shared/_form.html.twig" %}
	{% endif %}
{% endblock %}
