{% extends "base.html.twig" %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1>Accueil du salon de chat</h1>
	<h2>Connectez-vous pour commencer</h2>

	{{ form_start(formview) }}
	{{ form_errors(formview) }}
	{{ form_widget(formview) }}
	{{ form_end(formview) }}

{% endblock %}
