<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Chat</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				{% if app.user %}
					<li class="nav-item">
						<span class="nav-link active">Salut
							{{ app.user.username }}</span>
					</li>
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Se déconnecter</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('home') }}">Accueil</a>
					</li>
				{% endif %}
				{% if app.user and 'ROLE_ADMIN' in app.user.roles %}
					<li class="nav-item">
						<a class="nav-link" aria-current="page" href="{{ path('conversation_start') }}">Démarrer une conversation</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
